*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: linear-gradient(45deg,#8b08fa,#fe00be,#ff0c46,#ffc101);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;

}
@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* gradient animation by YouTuber Tahmid Ahmid */